body {
  min-height: 100vh;
  margin: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background-image: url(../../img/bakgrunn.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.home-info {
  text-align: center;
}

.work li {
  padding: 5px;
}

.work {
  display: -ms-inline-grid;
  display: inline-grid;
}

.portrait {
  margin-bottom: 0px;
  max-width: 704px;
  max-height: 800px;
}

.cta {
  color: #FFFFFF;
  background-color: #DC4C4C;
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 10px;
}

.cta:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #DC4C4C;
  border: 2px solid #DC4C4C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

header {
  background-image: url(../../img/NAVbakgrunn.jpg);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li,
i {
  display: inline-block;
  display: none;
  padding: 40px 5px;
  background-image: url(../../img/NAVbakgrunn.jpg);
}

i {
  color: white;
  margin-left: 160px;
}

header nav {
  margin-left: 20px;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top: 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#hamburger-menu:checked ~ nav li,
i {
  display: -ms-grid;
  display: grid;
  padding: 10px;
}

#hamburger-menu {
  display: none;
}

li a {
  padding: 20px;
  color: white;
}

.active {
  font-size: 1.1em;
  font-weight: bold;
}

@media (min-width: 600px) {
  /* HEADER */
  header nav {
    display: block;
    position: static;
  }
  header label {
    display: none;
  }
  header nav li {
    display: inline-block;
  }
  nav li,
  i {
    display: inline-block;
    display: none;
    padding: 40px 5px;
    background-image: none;
  }
}

h1 {
  color: #DC4C4C;
  font-family: "Be Vietnam Pro", sans-serif;
}

h2 {
  font-family: "Be Vietnam Pro", sans-serif;
}

a {
  color: #FFFFFF;
  font-size: 1em;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

a:hover {
  font-size: 1.1em;
  text-decoration: underline;
}

footer p {
  font-family: "Kanit", sans-serif;
  color: #FFFFFF;
}

p {
  font-size: 1em;
  font-family: "DM Sans", sans-serif;
  margin: 5px auto;
  max-width: 500px;
}

.homepage-text {
  padding-bottom: 30px;
}

.card {
  margin: 20px;
  background-color: #DC4C4C;
  border-radius: 10px;
  padding-bottom: 20px;
}

.card:hover {
  color: #DC4C4C;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 2px solid #DC4C4C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card img {
  border-radius: 10px 10px 0px 0px;
  max-width: 200px;
}

.work {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 800px) {
  p {
    max-width: 70%;
    margin-bottom: 20px;
  }
}

footer {
  background-image: url(../../img/NAVbakgrunn.jpg);
  margin-top: auto;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 30px;
}

footer a {
  padding: 10px;
}

@media (max-width: 800px) {
  .footer-container {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
  }
}
/*# sourceMappingURL=style.css.map */