body {
   min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(../../img/bakgrunn.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
      text-align: center;
  }

  .home {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
  }

  .home-info {
      text-align: center; 
  } 

  .work li {
      padding: 5px;
  }

  .work {
      display:inline-grid;
  }
  

  .portrait {
      margin-bottom: 0px;
      max-width: 704px;
      max-height:800px ;
  }

  .cta {
      color: getColour(white);
      background-color: getColour(red);
      padding: 20px 40px;
      margin-top: 20px;
      border-radius: 10px;

  }

 


  @media (max-width: 800px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
   
}