body {
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(../../img/bakgrunn.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
      text-align: center;
  }

  .home {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
  }

  .home-info {
      text-align: center; 
  } 

  .portrait {
      margin-bottom: 0px;
      max-width: 704px;
      max-height:800px ;
  }

  .cta {
      color: getColour(white);
      background-color: getColour(red);
      padding: 20px 40px;
      margin-top: 20px;
      border-radius: 10px;

      &:hover {
          text-decoration: none;
          background-color: getColour(white);
          color: getColour(red);
          border: 2px solid getColour(red);
          transition: 0.5s;
      }

  }

  
.card {
    margin: 20px;
    background-color: getColour(red);
    border-radius: 10px;
    padding-bottom: 20px;

    &:hover {
        color: getColour(red);
        text-decoration: none;
        background-color: getColour(white);
        border: 2px solid getColour(red);
        transition: 0.5s;
    }
}

.card img {
    border-radius: 10px 10px 0px 0px;
    max-width: 200px;
}

.work {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}
 


  @media (max-width: 800px) {
    .home {
        display: flow-root;
        text-align: center;
    }

    .cta {
        margin-bottom: 20px;
    }

    .portrait {
        display: none;
    }

    .work {
        grid-template-columns: 1fr;
    }

    
   
}