h1 {
    color: getColour(red);
}

a {
    text-decoration: none;
}

p {
    font-size: 1em;
}

.project-link {
    color: getColour(black);
    
    &hover {
        text-decoration: overline;
        color: aqua;
    }
}