h1 {
    color: getColour(red);
    font-family:$font-heading;
}

h2 {
    font-family:$font-heading;
}

a {
    color: getColour(white);
    font-size: 1em;
    text-decoration: none;
    font-family: $font-a;
}

footer p {
    font-family: $font-a;
    color: getColour(white);
}

p {
    font-size: 1em;
    font-family: $font-text;
    margin: 5px auto;
    max-width: 500px;
}

.homepage-text {
    padding-bottom: 30px;
}


.project-link {
    color: getColour(black);
    
    &:hover {
        transition: 0.5s;
        font-size: 1.1em;
        text-decoration: underline;
        color: getColour(red);
    }
}


@media (max-width: 800px) {
    p {
        max-width: 500px;
    }

    .footer-container {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 30px;
      }
}