h1 {
    color: getColour(red);
    font-family:$font-heading;
}

h2 {
    font-family:$font-heading;
}

a {
    color: getColour(white);
    font-size: 1em;
    text-decoration: none;
    font-family: $font-a;

    &:hover {
        font-size: 1.1em;
        text-decoration: underline;
    }
}

footer p {
    font-family: $font-a;
    color: getColour(white);
}

p {
    font-size: 1em;
    font-family: $font-text;
    margin: 5px auto;
    max-width: 500px;
}

.homepage-text {
    padding-bottom: 30px;
}








@media (max-width: 800px) {
    p {
        max-width: 70%;
        margin-bottom: 20px;
    }

}